#container {
    background-color: cornflowerblue;
    border: 2px solid black;
    border-radius: 15px;
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

div {
    padding: 15px;
}

#buttons {
    display: flex;
}

.human-choice-buttons {
    flex: 1;
    aspect-ratio: 3/1;
}

#results {
    font-size: 2em;
}

#display-winner {
    font-size: 3em;
    font-weight: 900;
    display: flex;
    flex-direction: column
}

#display-winner button {
    font-size: 0.5em;
    margin-top: 15px;
    padding: 10px;
    width: 150px;
    align-self: center;
}